<mat-card>
  <mat-card-title>{{ mode }} estudante</mat-card-title>

  <form [formGroup]="formGroup">
    <mat-form-field
      class="w-100"
      appearance="outline"
      *ngIf="mode !== 'Cadastrar'"
    >
      <mat-label>Id</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" />
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Matéria</mat-label>
      <input matInput formControlName="subject" />
    </mat-form-field>
  </form>
  <button
    *ngIf="mode !== 'Visualizar'"
    mat-stroked-button
    style="margin-right: 10px"
    (click)="saveTeacher()"
  >
    Salvar
  </button>
  <a mat-stroked-button routerLink="/teachers">Voltar</a>
</mat-card>
